<!--**********************************
			Header start
		***********************************-->
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<header class="header">
	<div class="header-content">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-between">
				<div class="header-left">
				</div>
				<div class="header-right">
					<br />
					<partial name="Ventic/_SelectLanguage" />

				</div>
			</div>
		</nav>
	</div>
</header>
<!--**********************************
	Header end ti-comment-alt
***********************************-->
